{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div class="columns">
        <div class="column is-one-third">
            <article class="message is-link">
                <div class="message-header">
                    <p>ROADEF Challenge 2012</p>
                </div>
                <div class="message-body">
                    <strong>Rank :</strong> Unranked

                    <br /><br />

                    <strong>Repository :</strong> <a
                        href="https://github.com/AllergicMushroom/RoadefChallenge2012">GitHub</a>
                </div>
            </article>
        </div>
    </div>
</main>
{% endblock %}