{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div style="margin: 40px;">
        <div class="is-size-2">
            Contact
        </div>

        <br />

        <div class="is-size-5">
            If you are contacting me for an industrial or academic collaboration in operations research, please contact
            me through my
            <a href="mailto:luis.lopes-marques@u-bordeaux.fr">
                academic email.
            </a>

            Otherwise, feel free to contact me through my
            <a href="mailto:luismarques@luismarques.me">
                personal email.
            </a>

            <br />

            You can also find me at the office 265 in the
            <a href="https://www.math.u-bordeaux.fr/imb/spip.php">
                Institut de Mathématique de Bordeaux.
            </a>
        </div>
</main>
{% endblock %}