{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div style="margin: 40px;">
        <div class="is-hidden-desktop">
            <img style="border-radius: 50%;" src="{% static 'home/luis.jpg' %}">
            <div class="is-size-2">
                Luis Marques
            </div>

            <div class="is-size-5 has-text-grey">
                Ph.D Student at Inria, Bordeaux
            </div>

            <br />
            <br />

            <div class="is-size-3">
                About me
            </div>
            <div class="is-size-5">
                I am a third year Ph.D Student, under the supervision of
                <a href="https://edge.gitlabpages.inria.fr/team-members/clautiaux/">
                    François Clautiaux
                </a>
                and
                <a href="https://edge.gitlabpages.inria.fr/team-members/froger/">
                    Aurélien Froger,
                </a>
                at the
                <a href="https://www.inria.fr/fr/centre-inria-universite-bordeaux">
                    Inria Center of the University of Bordeaux
                </a>
                where I am part of the
                <a href="edge.gitlabpages.inria.fr">
                    EDGE
                </a>
                team.

                I study mixed integer linear programming, with a special interest in arc flow and
                aggregation and disaggregation methods.
            </div>
        </div>

        <div class="is-hidden-mobile" style="display: flex;">
            <img style="width: 200px; border-radius: 50%;" src="{% static 'home/luis.jpg' %}">
            <div style="margin-left: 40px; margin-top: -20px;">
                <div class="is-size-2">
                    Luis Marques
                </div>

                <div class="is-size-5 has-text-grey">
                    Ph.D Student at Inria, Bordeaux
                </div>

                <br />
                <br />

                <div class="is-size-3">
                    About me
                </div>
                <div class="is-size-5">
                    I am a third year Ph.D Student, under the supervision of
                    <a href="https://edge.gitlabpages.inria.fr/team-members/clautiaux/">
                        François Clautiaux
                    </a>
                    and
                    <a href="https://edge.gitlabpages.inria.fr/team-members/froger/">
                        Aurélien Froger,
                    </a>
                    at the
                    <a href="https://www.inria.fr/fr/centre-inria-universite-bordeaux">
                        Inria Center of the University of Bordeaux
                    </a>
                    where I am part of the
                    <a href="edge.gitlabpages.inria.fr">
                        EDGE
                    </a>
                    team.

                    I study mixed integer linear programming, with a special interest in arc flow and
                    aggregation and disaggregation methods.
                </div>
            </div>
        </div>

        <br />

        <div class="is-size-3">
            My background
        </div>
        <div class="is-size-5">
            I studied under the
            <a href="https://uf-mi.u-bordeaux.fr/optim/">
                CMI OPTIM
            </a>
            program, a bachelor's and master's degree joint formation under the
            <a href="https://uf-mi.u-bordeaux.fr/mas/">
                Applied Mathematics and Statistics master.
            </a>

            The program explores many aspects of operations research, with a main focus on combinatorial
            optimization.
            During the formation, I had the chance to go abroad for a semester in Odense, Denmark.
            In the last two years, I did two internships, one at
            <a href="https://atoptima.fr/">
                AtOptima,
            </a>
            in Bordeaux, where I worked on a travel time prediction module using machine learning techniques, and
            another
            at
            <a href="https://www.edf.fr/">
                EDF,
            </a>
            in Paris, where I worked on the outage planning of nuclear plants using an arc flow formulation and
            taking
            into account an objective function closer to the true industrial objective.
        </div>

        <br />

        <div class="is-size-3">
            Industrial collaborations
        </div>
        <div class="is-size-5">
            Stay tuned for future updates !
        </div>

        <br />

        <div class="is-size-3">
            Scientific services
        </div>
        <div class="is-size-5">
            <ul>
                <li>
                    In October 2024, I animated a serious-game of the traveling salesman problem for children starting from 6 years old at the <a href="https://sciences-et-technologies.u-bordeaux.fr/actualites/festival-data-party">Data Party</a> festival in Bordeaux, France.
                    During the first day of the festival we had classes of children to whom we introduced the concept of algorithms and how they can be used to solve problems.
                    During the second day, we had a stand where people of any age could come and play the game.
                </li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}
