{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div style="margin: 40px;">
        <div class="is-size-2">
            Publications
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://inria.hal.science/hal-04303041">
                <strong>
                    Mathematical models based on decision hypergraphs for designing a storage cabinet
                </strong>
            </a>


            <a href="https://gitlab.inria.fr/edge/scpd/scpd-artifacts" class="button is-primary is-small is-rounded"
                style="margin-left: 8px;">
                Artifacts
            </a>

            <a class="button is-danger is-small is-rounded" disabled>
                Source code
            </a>
        </div>
        <div class="is-size-7 has-text-grey">
            Luis Marques, François Clautiaux, Aurélien Froger
        </div>
        <div class="is-size-7 has-text-grey">
            Preprint submitted on November 2023, accepted on September 2024
        </div>
    </div>
</main>
{% endblock %}
