{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div style="margin: 40px;">
        <div class="is-size-2">
            Software
        </div>

        <br />

        <div class="is-size-5">
            Stay tuned for future updates !
        </div>
    </div>
</main>
{% endblock %}