{% extends "base.html" %}

{% load static %}

{% block content %}
<main class="container">
    <div style="margin: 40px;">
        <div class="is-size-2">
            Teaching
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://formations.u-bordeaux.fr/#/details-formation?type=enseignement&id=38859">
                <strong>
                    4TMQ407U - Programming for scientific computing
                </strong>
            </a>
        </div>
        <div class="is-size-7 has-text-grey">
            34 hours in 2025
        </div>
        <div class="is-size-6">
            The goal of this course is to introduce second-year students to the C++ programming language.
            The concepts studied go from the most basic concepts to loops, functions, arrays, structured types and
            interaction with the user.
            Compilation and debugging mechanisms are also explained.
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://formations.u-bordeaux.fr/#/details-formation?type=enseignement&id=38859">
                <strong>
                    4TMQ407U - Programming for scientific computing
                </strong>
            </a>
        </div>
        <div class="is-size-7 has-text-grey">
            34 hours in 2024
        </div>
        <div class="is-size-6">
            The goal of this course is to introduce second-year students to the C++ programming language.
            The concepts studied go from the most basic concepts to loops, functions, arrays, structured types and
            interaction with the user.
            Compilation and debugging mechanisms are also explained.
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://formations.u-bordeaux.fr/#/details-formation?type=enseignement&id=40687">
                <strong>
                    4TOP101U - Domains of optimization
                </strong>
            </a>
        </div>
        <div class=" is-size-7 has-text-grey">
            3 hours in 2023
        </div>
        <div class="is-size-6">
            The goal of this course is to introduce first-year students to operations research using a popularization
            methodology. Divided in groups, the students present a subject related to operations research using a
            methodology such that
            people exterior to the domain can understand.
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://formations.u-bordeaux.fr/#/details-formation?type=enseignement&id=55066">
                <strong>
                    4TMS027U - Constraint programming
                </strong>
            </a>
        </div>
        <div class="is-size-7 has-text-grey">
            15 hours in 2023
        </div>
        <div class="is-size-6">
            The goal of this course is to introduce fifth-year students to the basic concepts of constraint
            programming, a paradigm
            different from linear programming.
            Global constraints are introduced and domain filtering techniques relying on those contraints are
            explored.
            The course is based on the commercial solver
            <a href="https://www.ibm.com/docs/fr/icos/22.1.1?topic=manual-opl-modeling-language">
                OPL
            </a>.
        </div>

        <br />

        <div class="is-size-5">
            <a href="https://formations.u-bordeaux.fr/#/details-formation?type=enseignement&id=38859">
                <strong>
                    4TMQ407U - Programming for scientific computing
                </strong>
            </a>
        </div>
        <div class="is-size-7 has-text-grey">
            34 hours in 2023
        </div>
        <div class="is-size-6">
            The goal of this course is to introduce second-year students to the C++ programming language.
            The concepts studied go from the most basic concepts to loops, functions, arrays, structured types and
            interaction with the user.
            Compilation and debugging mechanisms are also explained.
        </div>
    </div>
</main>
{% endblock %}
