{% load static %}

<!DOCTYPE html>
<html lang="fr" class="has-background-light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Luis Marques" />
    <meta name="keywords" content="Luis Marques" />

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/bulma.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <!-- <script src="{% static 'Scripts/bulma.js' %}"></script> -->

    <title>Luis Marques</title>
    <link rel="icon" href="{% static 'Assets/Icons/Icon.ico' %}">
</head>

<body class="has-navbar-fixed-top">

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="https://bulma.io">
                <img src="https://bulma.io/images/bulma-logo.png"
                    alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    </nav>

</body>

{% block script %}
{% endblock %}

</html>