{% load static %}

<!DOCTYPE html>
<html lang="fr" class="has-background-light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="author" content="Luis Marques" />
    <meta name="keywords" content="Luis Marques" />

    <link rel="stylesheet" type="text/css" href="{% static 'CSS/bulma.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">

    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });
    </script>

    <title>Luis Marques</title>
    <link rel="icon" href="{% static 'Assets/Icons/Icon.ico' %}">
</head>

<body class="has-navbar-fixed-top">
    <!-- ! Mobile navbar -->
    <nav class="navbar is-hidden-desktop is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Luis Marques
            </a>

            <div role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </div>
        </div>

        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{% url 'home:publications' %}">
                    <span>
                        Publications
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:talks' %}">
                    <span>
                        Talks
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:software' %}">
                    <span>
                        Software
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:teaching' %}">
                    <span>
                        Teaching
                    </span>
                </a>

                <!-- <a class="navbar-item" href="{% url 'home:challenges' %}">
                    <span>
                        Challenges
                    </span>
                </a> -->

                <a class="navbar-item" href="{% url 'home:contact' %}">
                    <span>
                        Contact
                    </span>
                </a>
            </div>
        </div>
    </nav>

    <!-- ! Desktop navbar -->
    <nav class="navbar is-hidden-mobile is-hidden-tablet-only is-fixed-top" role="navigation"
        aria-label="main navigation">
        <div class="navbar-brand is-size-4" style="margin-left: 24rem">
            <a class="navbar-item" href="/">
                <span>
                    <b>
                        Luis Marques
                    </b>
                </span>
            </a>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end" style="margin-right: 24rem">

                <a class="navbar-item" href="{% url 'home:publications' %}">
                    <span>
                        Publications
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:talks' %}">
                    <span>
                        Talks
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:software' %}">
                    <span>
                        Software
                    </span>
                </a>

                <a class="navbar-item" href="{% url 'home:teaching' %}">
                    <span>
                        Teaching
                    </span>
                </a>

                <!-- <a class="navbar-item" href="{% url 'home:challenges' %}">
                    <span>
                        Challenges
                    </span>
                </a> -->

                <a class="navbar-item" href="{% url 'home:contact' %}">
                    <span>
                        Contact
                    </span>
                </a>
            </div>
        </div>
    </nav>

    <div class="column is-fullheight">
        <!-- Beginning of content block div-->
        {% block content %}
        {% endblock %}
    </div><!-- End of content block div-->

</body>

{% block script %}
{% endblock %}

</html>